<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:tx="http://www.springframework.org/schema/tx"
	   xmlns:context="http://www.springframework.org/schema/context"

       xsi:schemaLocation="http://www.springframework.org/schema/beans 
    		http://www.springframework.org/schema/beans/spring-beans.xsd
			http://www.springframework.org/schema/tx
			http://www.springframework.org/schema/tx/spring-tx.xsd
       		http://www.springframework.org/schema/context
     		http://www.springframework.org/schema/context/spring-context.xsd"
       default-autowire="byName">
	

	<!-- BoneCP configuration -->
	<bean id="abstractDataSource" abstract="true" class="com.jolbox.bonecp.BoneCPDataSource" destroy-method="close">
		<property name="driverClass" value="${jdbc.driverClass}" />
		<property name="idleConnectionTestPeriodInMinutes" value="${jdbc.idleConnectionTestPeriod}" />
		<property name="idleMaxAgeInMinutes" value="${jdbc.idleMaxAge}" />
		<property name="maxConnectionsPerPartition" value="${jdbc.maxConnectionsPerPartition}" />
		<property name="minConnectionsPerPartition" value="${jdbc.minConnectionsPerPartition}" />
		<property name="partitionCount" value="${jdbc.partitionCount}" />
		<property name="acquireIncrement" value="${jdbc.acquireIncrement}" />
		<property name="statementsCacheSize" value="${jdbc.statementsCacheSize}" />
		<property name="releaseHelperThreads" value="${jdbc.releaseHelperThreads}" />
	</bean>

	<bean id="masterDataSource" parent="abstractDataSource">
		<property name="jdbcUrl" value="${jdbc.jdbcUrl}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
	</bean>


	
	<!-- mybatis sqlSessionFactory 配置 -->
	<bean id="sessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="masterDataSource" />
		<!-- mapper.xml 加载路径
			classpath：只会到你的class路径中查找找文件;
			classpath*：不仅包含class路径，还包括jar文件中(class路径)进行查找.
			/**是所有文件夹及里面的子文件夹
			/*是所有文件夹，不含子文件夹
		-->
		<property name="mapperLocations"	  value="classpath:mybatis/**/*Mapper.xml" />
		<!-- mapper.xml 映射的实体类加载路径 -->
		<property name="typeAliasesPackage" value="com.bierbobo.rainbow.data.orm.mybatis.domain" />
		<!-- mapper.xml 通用属性配置 -->
		<property name="configLocation" value="classpath:mybatis/mybatisConfig.xml" />
	</bean>


	<bean id="sqlTemplate" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg index="0" ref="sessionFactory" />
	</bean>

	<bean id="batchSqlTemplate" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg index="0" ref="sessionFactory" />
		<constructor-arg index="1" value="BATCH" />
	</bean>


	<!-- mapper 接口扫描加载 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="annotationClass" value="org.springframework.stereotype.Repository"/>
		<property name="basePackage" value="com.bierbobo.rainbow.data.orm.mybatis.dao" />
		<property name="sqlSessionTemplateBeanName" value="sqlTemplate"/>
	</bean>


	<!-- 配置事务管理器 -->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="masterDataSource" />
	</bean>

	<tx:annotation-driven transaction-manager="transactionManager" />

	<!-- 事务控制的业务方法配 -->
	<!--
    <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="get*" read-only="true" />
            <tx:method name="page*" read-only="true" />
            <tx:method name="list*" read-only="true" />
            <tx:method name="*" />
        </tx:attributes>
    </tx:advice>
    -->

	<!-- 事务控制拦截 -->
	<!--
    <aop:config proxy-target-class="true">
        <aop:advisor pointcut="execution(* com.service..*.impl..*.*(..))"
            advice-ref="txAdvice" />
    </aop:config>
    -->

	<!-- spiringJdbc -->
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref ="masterDataSource"/>
	</bean>



</beans>