<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"

	xsi:schemaLocation="
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	"
	default-autowire="byName" default-lazy-init="false">


	<!--使用注解方式配置spring bean-->
	<context:annotation-config/>


	<!-- spring代理范围：全局 -->
    <context:component-scan base-package="com.bierbobo"/>


	<!--<import resource="spring-web.xml" />-->




</beans>


<!--

	 配置文件
<context:property-placeholder location="classpath:conf/*.properties" />

	 aop动态代理
<aop:aspectj-autoproxy />

	 声明式事务控制
<tx:annotation-driven transaction-manager="transactionManager" />

     <aop:aspectj-autoproxy proxy-target-beanClass="false"/>

     	 引入的其他文件
<import resource="spring-dao.xml"/>

		xmlns:aop="http://www.springframework.org/schema/aop"
		xmlns:tx="http://www.springframework.org/schema/tx"
		xmlns:jdbc="http://www.springframework.org/schema/jdbc"
		xmlns:util="http://www.springframework.org/schema/util"
		xmlns:cache="http://www.springframework.org/schema/cache"

		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd
		http://www.springframework.org/schema/cache   http://www.springframework.org/schema/cache/spring-cache.xsd
		http://ehcache-spring-annotations.googlecode.com/svn/schema/ehcache-spring

-->
