<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8"/>
    <title>采销供应链智能平台</title>

    <!--[if IE]>
    <script type="text/javascript">(function () {
        var b = ("abbr,article,aside,audio,canvas,datalist,details,dialog,eventsource,figure,footer,header,hgroup,mark,menu,meter,nav,output,progress,section,time,video").split(","), a = b.length;
        while (a--) {
            document.createElement(b[a])
        }
    })();</script><![endif]-->
    <link rel="stylesheet" type="text/css" href="#springUrl('/res/css/index.css')?ver=$!dateTool.get('yyyy-M-d-H')"/>
    <link rel="stylesheet" type="text/css"
          href="#springUrl('/res/js/plugins/jquery-ui/jquery.ui.autocomplete.css')?ver=$!dateTool.get('yyyy-M-d-H')"/>
    <link rel="stylesheet" type="text/css"
          href="#springUrl('/res/js/plugins/jquery-ui/jquery-ui.css')?ver=$!dateTool.get('yyyy-M-d-H')"/>
    <link rel="stylesheet" type="text/css" href="#springUrl('/res/css/storage.css')?ver=$!dateTool.get('yyyy-M-d-H')"/>
    <link rel="stylesheet" type="text/css"
          href="#springUrl('/res/js/comboMenu/css/comboMenu.css')?ver=$!dateTool.get('yyyy-M-d-H')"/>
    <link rel="stylesheet" type="text/css"
          href="#springUrl('/res/css/maintain.css')?ver=$!dateTool.get('yyyy-M-d-H')"/>

    <script language="javascript">
        var biipBaseUrl = "#springUrl('')";
    </script>
    <script src="#springUrl('/res/js/common/jquery-1.10.2.min.js')?ver=$!dateTool.get('yyyy-M-d-H')"></script>
    <script src="#springUrl('/res/js/common/dnd.js')?ver=$!dateTool.get('yyyy-M-d-H')"></script>
    <script src="#springUrl('/res/js/common/popup.js')?ver=$!dateTool.get('yyyy-M-d-H')"></script>
    <script src="#springUrl('/res/js/common/layout.js')?ver=$!dateTool.get('yyyy-M-d-H')"></script>
    <script src="#springUrl('/res/js/plugins/jquery-ui/jquery-ui.js')?ver=$!dateTool.get('yyyy-M-d-H')"></script>
    <script src="#springUrl('/res/js/common/jquery.cookie.js')?ver=$!dateTool.get('yyyy-M-d-H')"></script>
    <script src="#springUrl('/res/js/common/badge.js')?ver=$!dateTool.get('yyyy-M-d-H')"></script>
    <style type="text/css">
        a:link {
            text-decoration: none;
        } ##无下划线
        #left-side a {
            width: 100%;
            display: block;
        }
    </style>
    <!-- Start Open Web Analytics Tracker 统计pv uv-->
    <script type="text/javascript">
        var _paq = _paq || [];
        (function () {
            var u = "//pvuv.ls.com/piwik/";
            _paq.push(['setTrackerUrl', u + 'piwik.php']);
            _paq.push(['setSiteId', 1]);
            var d = document;
            var g = d.createElement('script');
            var s = d.getElementsByTagName('script')[0];
            g.type = 'text/javascript';
            g.async = true;
            g.defer = true;
            g.src = u + 'piwik.js';
            s.parentNode.insertBefore(g, s);
        })();
    </script>
    <noscript><p><img src="//pvuv.ls.com/piwik/piwik.php?idsite=1" style="border:0;" alt=""/></p></noscript>

</head>
<body class="blue">
<div id="main">
    <!--当前登录人信息-->
    <!-- top-side -->
    <input type="hidden" id="curUserErpCode"/>
    <input type="hidden" id="curUserChineseName"/>
    <input type="hidden" id="curUserUserId"/>
    <input type="hidden" id="curUserOrganizationId"/>
    <input type="hidden" id="curUserEmail"/>

    <div class="top-side">
        <img class="logo" src="#springUrl('/res/img/biip-logo.png')"/>

        <div class="login">
            <span id="login-left" class="login-left"></span> <a href="#springUrl('/logout')" class="login-right"><img
                src="#springUrl('/res/img/logout.png')"/>注销</a>
        </div>
    </div>
    <div style="margin:5px 5px 5px 8px;">
        <li>
					<span style="font-size:18px">
						<a style="color:red">Duang~~</a>系统不好用，有建议，想吐槽，<a style="color: #0099ff"
                                                                         target="blank"
                                                                         href="http://forum.com/forum.php?mod=viewthread&tid=53176&highlight=biip">请点击我！</a>
					</span>
        </li>
    </div>
    <!-- left-side -->
    <div id="left-side" class="m menu-left">

    ##<div class="mt"><h3>采销供应链智能平台</h3></div>
        <div class="mc">
            <ul>
                <li name="seCondMenu" class="open">
                    <h3>我的报表</h3>
                    <ul>
                        <li>
                            <a style="color: inherit;" name="accessUrl"
                               href="#springUrl('/ware/queryWarePage')">采销大表</a>
                        </li>
                    </ul>
                </li>

                <li name="seCondMenu" class="">
                    <h3>我的导出</h3>
                    <ul>
                        <li>
                            <a style="color: inherit;" name="accessUrl" href="#springUrl('/export/queryTaskListPage')">我的导出列表</a>
                        </li>
                    </ul>
                </li>

                <li name="seCondMenu" class="">
                    <h3>我的消息<span id="myMessage" class="tip-icon" style="display:none; margin-left:10px;"></span></h3>
                    <ul>
                        <li>
                            #if($getCurrent.queryCurUser().getData().getOrganizationId() == 514)
                            <a style="color: inherit;" name="accessUrl"
                               href="#springUrl('/stockRemind/queryStockRemind/stockNoVendor')"
                               otherhref="#springUrl('/stockRemind/queryStockRemind/stockNoBrand')">
                            #else
                            <a style="color: inherit;" name="accessUrl"
                               href="#springUrl('/stockRemind/queryStockRemind/stockNoBrand')"
                               otherhref="#springUrl('/stockRemind/queryStockRemind/stockNoVendor')">
                            #end
                            断货<span id="badge_outstock_vender" class="tip-icon" style="display:none;">0</span>
                        </a>
                        </li>
                        <li>
                            #if($getCurrent.queryCurUser().getData().getOrganizationId() == 514)
                            <a style="color: inherit;" name="accessUrl"
                               href="#springUrl('/stockRemind/queryStockRemind/stockLessVendor')"
                               otherhref="#springUrl('/stockRemind/queryStockRemind/stockLessBrand')">
                            #else
                            <a style="color: inherit;" name="accessUrl"
                               href="#springUrl('/stockRemind/queryStockRemind/stockLessBrand')"
                               otherhref="#springUrl('/stockRemind/queryStockRemind/stockLessVendor')">
                            #end
                            库存不足<span id="badge_lowstock_vender" class="tip-icon" style="display:none;">0</span>
                        </a>
                        </li>
                        <li>
                            <a style="color: inherit;" name="accessUrl"
                               href="#springUrl('/poRemind/poRemindList/PO_NEAR')"
                               otherhref="/poRemind/queryPoDetail/PO_NEAR">
                                临期采购单<span id="badge_comingpo" class="tip-icon" style="display:none;">0</span>
                            </a>
                        </li>
                        <li>
                            <a style="color: inherit;" name="accessUrl"
                               href="#springUrl('/poRemind/poRemindList/PO_PASSED')"
                               otherhref="/poRemind/queryPoDetail/PO_PASSED">
                                超期采购单<span id="badge_expiredpo" class="tip-icon" style="display:none;">0</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li name="seCondMenu" class="">
                    <h3>我的设置</h3>
                    <ul>
                        <li>
                            <a style="color: inherit;" name="accessUrl" href="#springUrl('/bookInfo')">图书TOP数量设置</a>
                        </li>
                        <li>
                            <a style="color: inherit;" name="accessUrl"
                               href="#springUrl('/stockWarningConfig/queryStockWarningConfigPage')">断货库存不足设置</a>
                        </li>
                        <li>
                            <a style="color: inherit;" name="accessUrl"
                               href="#springUrl('/ignoreStockRemind')">商品不提醒设置</a>
                        </li>
                    </ul>
                </li>
                <li name="seCondMenu" class="">
                    <h3>其他报表</h3>
                    <ul>
                        <li>
                            <a style="color: inherit;" name="accessUrl" href="#springUrl('/export/querystoragePage')">仓储大表</a>
                        </li>
                        <li>
                            <a style="color: inherit;" name="accessUrl" href="#springUrl('/export/querystoragePage')">slowsale</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="resizer">
            <div class="placeholder"><b></b>展开左侧菜单</div>
            <div class="opt">
                <div class="indicator">
                    <i></i>
                </div>
            </div>
        </div>

    </div>
    <!-- left-side end -->

    <!-- right-side -->
    $screen_content
    <!-- right-side end -->
    <div class="clear"></div>
</div>

<script>
    var _hmt = _hmt || [];
        #if($nick)
        _hmt.push(['_setCustomVar', 1, '   ', '$nick', 1]);
        #end
        #if($dept)
        _hmt.push(['_setCustomVar', 2, '  ', '$dept', 1]);
        #end
    var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F044344eaf5bf33eedb5996bae06764c0' type='text/javascript'%3E%3C/script%3E"));
</script>
</body>
</html><!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8"/>
    <title>采销供应链智能平台</title>

    <!--[if IE]>
    <script type="text/javascript">(function () {
        var b = ("abbr,article,aside,audio,canvas,datalist,details,dialog,eventsource,figure,footer,header,hgroup,mark,menu,meter,nav,output,progress,section,time,video").split(","), a = b.length;
        while (a--) {
            document.createElement(b[a])
        }
    })();</script><![endif]-->
    <link rel="stylesheet" type="text/css" href="#springUrl('/res/css/index.css')?ver=$!dateTool.get('yyyy-M-d-H')"/>
    <link rel="stylesheet" type="text/css"
          href="#springUrl('/res/js/plugins/jquery-ui/jquery.ui.autocomplete.css')?ver=$!dateTool.get('yyyy-M-d-H')"/>
    <link rel="stylesheet" type="text/css"
          href="#springUrl('/res/js/plugins/jquery-ui/jquery-ui.css')?ver=$!dateTool.get('yyyy-M-d-H')"/>
    <link rel="stylesheet" type="text/css" href="#springUrl('/res/css/storage.css')?ver=$!dateTool.get('yyyy-M-d-H')"/>
    <link rel="stylesheet" type="text/css"
          href="#springUrl('/res/js/comboMenu/css/comboMenu.css')?ver=$!dateTool.get('yyyy-M-d-H')"/>
    <link rel="stylesheet" type="text/css"
          href="#springUrl('/res/css/maintain.css')?ver=$!dateTool.get('yyyy-M-d-H')"/>

    <script language="javascript">
        var biipBaseUrl = "#springUrl('')";
    </script>
    <script src="#springUrl('/res/js/common/jquery-1.10.2.min.js')?ver=$!dateTool.get('yyyy-M-d-H')"></script>
    <script src="#springUrl('/res/js/common/dnd.js')?ver=$!dateTool.get('yyyy-M-d-H')"></script>
    <script src="#springUrl('/res/js/common/popup.js')?ver=$!dateTool.get('yyyy-M-d-H')"></script>
    <script src="#springUrl('/res/js/common/layout.js')?ver=$!dateTool.get('yyyy-M-d-H')"></script>
    <script src="#springUrl('/res/js/plugins/jquery-ui/jquery-ui.js')?ver=$!dateTool.get('yyyy-M-d-H')"></script>
    <script src="#springUrl('/res/js/common/jquery.cookie.js')?ver=$!dateTool.get('yyyy-M-d-H')"></script>
    <script src="#springUrl('/res/js/common/badge.js')?ver=$!dateTool.get('yyyy-M-d-H')"></script>
    <style type="text/css">
        a:link {
            text-decoration: none;
        } ##无下划线
        #left-side a {
            width: 100%;
            display: block;
        }
    </style>
    <!-- Start Open Web Analytics Tracker 统计pv uv-->
    <script type="text/javascript">
        var _paq = _paq || [];
        (function () {
            var u = "//pvuv.ls.com/piwik/";
            _paq.push(['setTrackerUrl', u + 'piwik.php']);
            _paq.push(['setSiteId', 1]);
            var d = document;
            var g = d.createElement('script');
            var s = d.getElementsByTagName('script')[0];
            g.type = 'text/javascript';
            g.async = true;
            g.defer = true;
            g.src = u + 'piwik.js';
            s.parentNode.insertBefore(g, s);
        })();
    </script>
    <noscript><p><img src="//pvuv.ls.com/piwik/piwik.php?idsite=1" style="border:0;" alt=""/></p></noscript>

</head>
<body class="blue">
<div id="main">
    <!--当前登录人信息-->
    <!-- top-side -->
    <input type="hidden" id="curUserErpCode"/>
    <input type="hidden" id="curUserChineseName"/>
    <input type="hidden" id="curUserUserId"/>
    <input type="hidden" id="curUserOrganizationId"/>
    <input type="hidden" id="curUserEmail"/>

    <div class="top-side">
        <img class="logo" src="#springUrl('/res/img/biip-logo.png')"/>

        <div class="login">
            <span id="login-left" class="login-left"></span> <a href="#springUrl('/logout')" class="login-right"><img
                src="#springUrl('/res/img/logout.png')"/>注销</a>
        </div>
    </div>
    <div style="margin:5px 5px 5px 8px;">
        <li>
					<span style="font-size:18px">
						<a style="color:red">Duang~~</a>系统不好用，有建议，想吐槽，<a style="color: #0099ff"
                                                                         target="blank"
                                                                         href="http://forum.com/forum.php?mod=viewthread&tid=53176&highlight=biip">请点击我！</a>
					</span>
        </li>
    </div>
    <!-- left-side -->
    <div id="left-side" class="m menu-left">

    ##<div class="mt"><h3>采销供应链智能平台</h3></div>
        <div class="mc">
            <ul>
                <li name="seCondMenu" class="open">
                    <h3>我的报表</h3>
                    <ul>
                        <li>
                            <a style="color: inherit;" name="accessUrl"
                               href="#springUrl('/ware/queryWarePage')">采销大表</a>
                        </li>
                    </ul>
                </li>

                <li name="seCondMenu" class="">
                    <h3>我的导出</h3>
                    <ul>
                        <li>
                            <a style="color: inherit;" name="accessUrl" href="#springUrl('/export/queryTaskListPage')">我的导出列表</a>
                        </li>
                    </ul>
                </li>

                <li name="seCondMenu" class="">
                    <h3>我的消息<span id="myMessage" class="tip-icon" style="display:none; margin-left:10px;"></span></h3>
                    <ul>
                        <li>
                            #if($getCurrent.queryCurUser().getData().getOrganizationId() == 514)
                            <a style="color: inherit;" name="accessUrl"
                               href="#springUrl('/stockRemind/queryStockRemind/stockNoVendor')"
                               otherhref="#springUrl('/stockRemind/queryStockRemind/stockNoBrand')">
                            #else
                            <a style="color: inherit;" name="accessUrl"
                               href="#springUrl('/stockRemind/queryStockRemind/stockNoBrand')"
                               otherhref="#springUrl('/stockRemind/queryStockRemind/stockNoVendor')">
                            #end
                            断货<span id="badge_outstock_vender" class="tip-icon" style="display:none;">0</span>
                        </a>
                        </li>
                        <li>
                            #if($getCurrent.queryCurUser().getData().getOrganizationId() == 514)
                            <a style="color: inherit;" name="accessUrl"
                               href="#springUrl('/stockRemind/queryStockRemind/stockLessVendor')"
                               otherhref="#springUrl('/stockRemind/queryStockRemind/stockLessBrand')">
                            #else
                            <a style="color: inherit;" name="accessUrl"
                               href="#springUrl('/stockRemind/queryStockRemind/stockLessBrand')"
                               otherhref="#springUrl('/stockRemind/queryStockRemind/stockLessVendor')">
                            #end
                            库存不足<span id="badge_lowstock_vender" class="tip-icon" style="display:none;">0</span>
                        </a>
                        </li>
                        <li>
                            <a style="color: inherit;" name="accessUrl"
                               href="#springUrl('/poRemind/poRemindList/PO_NEAR')"
                               otherhref="/poRemind/queryPoDetail/PO_NEAR">
                                临期采购单<span id="badge_comingpo" class="tip-icon" style="display:none;">0</span>
                            </a>
                        </li>
                        <li>
                            <a style="color: inherit;" name="accessUrl"
                               href="#springUrl('/poRemind/poRemindList/PO_PASSED')"
                               otherhref="/poRemind/queryPoDetail/PO_PASSED">
                                超期采购单<span id="badge_expiredpo" class="tip-icon" style="display:none;">0</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li name="seCondMenu" class="">
                    <h3>我的设置</h3>
                    <ul>
                        <li>
                            <a style="color: inherit;" name="accessUrl" href="#springUrl('/bookInfo')">图书TOP数量设置</a>
                        </li>
                        <li>
                            <a style="color: inherit;" name="accessUrl"
                               href="#springUrl('/stockWarningConfig/queryStockWarningConfigPage')">断货库存不足设置</a>
                        </li>
                        <li>
                            <a style="color: inherit;" name="accessUrl"
                               href="#springUrl('/ignoreStockRemind')">商品不提醒设置</a>
                        </li>
                    </ul>
                </li>
                <li name="seCondMenu" class="">
                    <h3>其他报表</h3>
                    <ul>
                        <li>
                            <a style="color: inherit;" name="accessUrl" href="#springUrl('/export/querystoragePage')">仓储大表</a>
                        </li>
                        <li>
                            <a style="color: inherit;" name="accessUrl" href="#springUrl('/export/querystoragePage')">slowsale</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="resizer">
            <div class="placeholder"><b></b>展开左侧菜单</div>
            <div class="opt">
                <div class="indicator">
                    <i></i>
                </div>
            </div>
        </div>

    </div>
    <!-- left-side end -->

    <!-- right-side -->
    ===========1
    $screen_content
    ===========2
    <!-- right-side end -->
    <div class="clear"></div>

    ===========3
</div>

<script>
    var _hmt = _hmt || [];
        #if($nick)
        _hmt.push(['_setCustomVar', 1, '   ', '$nick', 1]);
        #end
        #if($dept)
        _hmt.push(['_setCustomVar', 2, '  ', '$dept', 1]);
        #end
    var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F044344eaf5bf33eedb5996bae06764c0' type='text/javascript'%3E%3C/script%3E"));
</script>
</body>
</html>