<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="author" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>#springMessage("project.main.title")</title>
	<link id="easyuiTheme" rel="stylesheet" type="text/css" href="#springUrl('/static/css/easyui/themes/bootstrap/easyui.css')" >
	<link rel="stylesheet" type="text/css" href="#springUrl('/static/css/easyui/themes/icon.css')">
	<link rel="stylesheet" type="text/css" href="#springUrl('/static/css/default.css')">
	<script type="text/javascript" src="#springUrl('/static/js/jquery.min.js')"></script>
	<script type="text/javascript" src="#springUrl('/static/js/jquery.form.js')"></script>
	<script type="text/javascript" src="#springUrl('/static/js/easyui/jquery.easyui.min.js')"></script>
	<script type="text/javascript" src="#springUrl('/static/js/util/validate.js')"></script>
	<script type="text/javascript" src="#springUrl('/static/js/util/common.js')"></script>
	<script type="text/javascript" src="#springUrl('/static/js/util/jquery.fn.extend.js')"></script>
	
</head>
<body style="background-color:transparent" >  
$screen_content
<div id="exportFileDialog"  class="dialog" style="font-size:14px;;display:none;">
        <div class="body-dialog">
          <div class="row">
                    <div class="cols2">
                        <label class="label">#springMessage("project.message.exportType")：</label>
                            <input type="radio" name="radio"  checked="checked" value="1"  onclick="$('#export_radio').val(this.value)"/> Excel
                            <input type="radio" name="radio"   value="2"   onclick="$('#export_radio').val(this.value)"/> Csv
                            <input id="export_radio" value="1" type="hidden"/>
                     </div>
                    </div>

 </div>
    </div>
</body>
</html>

