\#set($layout = "layout/null.vm")
<div class="body-dialog">
	<form id="${entityMeta.lowerClassName}_form" method="post" >
		<input name="id" id="${entityMeta.lowerClassName}_id" type="hidden" >
#set($i=0)
#foreach($fieldMeta in $entityMeta.fieldMetaList)
#if(${fieldMeta.formItem})
#if($i%2==0)
		<div class="row">
#end			
			<div class="cols">
				<label class="label">${entityMeta.velocitySymbol}springMessage("${entityMeta.projectMeta.projectName}.${entityMeta.projectMeta.moduleName}.${fieldMeta.javaFieldName}")：</label>
				<span>$!{${entityMeta.lowerClassName}.${fieldMeta.javaFieldName}}</span>
		    </div>
#if($i%2==1)			
		</div>
#end
#set($i=$i+1)		
#end
#end
	</form>
</div>		