project.main.title=国际物流管理系统
project.main.welcome=欢迎
project.main.logout=退出
project.main.menu=菜单
project.main.index=首页

project.message.list=列表
project.message.dialog=对话框
project.message.confirm=确认
project.message.close=关闭
project.message.cancel=取消
project.message.choose_row=请选择行
project.message.choose_one_row=只能选一行
project.message.deleteConfirm=确定要删除吗？
project.message.choose=请选择
project.message.confirm_dialog=确认框
project.message.confirm_export=确定要导出吗?
project.message.tips=提示

project.message.exportType=导出格式
project.message.success=操作成功
project.message.error=操作失败
project.exception.100001=100001异常
project.exception.100002=100002异常


project.validate.Email=请输入有效的URL地址
project.validate.Length=输入内容长度必须介于{0}和{1}之间
project.validate.NotBlank=该输入项为必输项
project.validate.NotEmpty=该输入项为必输项
project.validate.Range=输入内容必须介于{0}和{1}之间
project.validate.URL=请输入有效的URL地址


project.message.beforePageText=第
project.message.afterPageText=共{pages}页
project.message.displayMsg=显示{from}到{to},共{total}记录
project.message.loading=数据加载中...
project.message.missingMessage=该输入项为必输项
project.message.email=请输入有效的电子邮件地址
project.message.url=请输入有效的URL地址
project.message.length=输入内容长度必须介于{0}和{1}之间
project.message.remote=请修正该字段
project.message.weeks=日,一,二,三,四,五,六
project.message.months=一月,二月,三月,四月,五月,六月,七月,八月,九月,十月,十一月,十二月
project.message.currentText=今天


project.button.add=添加
project.button.update=编辑
project.button.delete=删除
project.button.detail=详情
project.button.export=导出
project.button.query=查询
project.button.reset=重置

project.module.root=主数据管理 
#foreach($entityMeta in $entityMetaList)
project.module.${entityMeta.lowerClassName}=${entityMeta.comment}
#end

#foreach(${fieldMeta} in ${fieldMetaMap.entrySet()})
 project.module.${fieldMeta.key}=${fieldMeta.value}
#end 


