<div class="body" title="${entityMeta.comment}管理">
	<div class="easyui-panel" title="查询"  data-options="iconCls:'icon-search',collapsible:true" style="overflow-x:hidden;" >
		<form id="${entityMeta.lowerClassName}_query_form">
			
#set($i=0)				
#foreach($fieldMeta in $entityMeta.queryPropertyList)
#if(${fieldMeta.query})
#if($i%4==0)
	    <div class="row ">
#end			
				<span>
					<lable>${fieldMeta.comment}：</lable>
#if(${fieldMeta.formType}=="SELECT")
					<select  id="${entityMeta.lowerClassName}_${fieldMeta.javaFieldName}" class="easyui-combobox input" >
        			</select>
#elseif(${fieldMeta.formType}=="DATE")
		            <input type="text"  id="${entityMeta.lowerClassName}_${fieldMeta.javaFieldName}" class="easyui-textbox  easyui-datebox input" style="height:25px;"/>
#else
	                <input type="text"  id="${entityMeta.lowerClassName}_${fieldMeta.javaFieldName}" class="easyui-textbox  input" style="height:25px;"/>
#end				
				</span>
#if($i%4==3)			
		</div>
#end		
	#set($i=$i+1)	
#end
#end				
			
				<span><a  id="${entityMeta.lowerClassName}_query_button" href="javascript:void(0)" class="easyui-linkbutton btn" iconCls="icon-search">查询</a></span>
				<span><a  id="${entityMeta.lowerClassName}_reset_button" href="javascript:void(0)" class="easyui-linkbutton btn" iconCls="icon-undo">重置</a></span>
			</div>
		</form>
	</div>
	<div style="margin-top:10px;">
		<table id="${entityMeta.lowerClassName}_grid"></table>
	</div>
<div id="${entityMeta.lowerClassName}_dialog"  class="dialog"></div>
</div>
<script src="#springUrl('')/static/script/${entityMeta.lowerClassName}/${entityMeta.lowerClassName}List.js"></script>
